Aanvraag werd geannuleerd
=====
<p>Hallo {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> annuleerde zijn/haar aanvraag: <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Geen verdere actie vereist.</p>

<p>Alvast bedankt</p>
