Aanvraag werd {{#if_equal action 'approve'}}goedgekeurd{{else}}afgewezen{{/if_equal}}
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

{{> email/leave_comments comments=comments }}

<p>{{#with approver }}{{this.full_name}}{{/with}} besliste om uw aanvraag <strong>{{>leave_request_detail leave=leave }} {{#if_equal action 'approve'}} goed te keuren{{else}} af te wijzen{{/if_equal}}</strong>.</p>

<p>Alvast bedankt</p>
