Aanvraag beslissing genomen
=====
<p>Hello <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

{{> email/leave_comments comments=comments }}

<p>U verwerkte net de aanvraag tot intrekken van een goedgekeurde afwezigheid.</p>
<p>>>{{>leave_request_detail leave=leave }} voor {{#with requester}}{{this.full_name}}{{/with}}</p>
<p>U hebt beslist om dit <strong>{{#if_equal action 'approve'}}goed te keuren{{else}}af te wijzen{{/if_equal}}</strong>.</p>

<p>Alvast bedankt</p>
