Aanvraag werd {{#if_equal action 'approve'}}goedgekeurd{{else}}afgewezen{{/if_equal}}
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

{{> email/leave_comments comments=comments }}

<p>{{#with approver }}{{this.full_name}}{{/with}} besliste om <strong>{{action}}</strong> uw {{#if was_pended_revoke}}afwijzen van {{/if}}aanvraag <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Alvast bedankt</p>
