Aanvraag beslissing genomen
=====
<p>Hello <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

{{> email/leave_comments comments=comments }}

<p>U verwerkte net {{#if was_pended_revoke}}het annuleren van {{/if}}aanvraag {{>leave_request_detail leave=leave }} voor {{#with requester}}{{this.full_name}}{{/with}}: to {{action}}.</p>

<p>Alvast bedankt</p>
