Nieuwe aanvraag (automatisch) goedgekeurd
=====
<p>Hello <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> added new leave <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Aanvragen van {{#with requester}}{{this.full_name}}{{/with}} worden automatisch goedgekeurd.</p>
<p>(Dit kan per werknemer worden ingesteld onder instellingen)</p>

<p>Thanks</p>
