Aanvraag wacht op beslissing
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Uw aanvraag <strong>{{>leave_request_detail leave=leave }} annulering</strong> werd verzonden naar <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Na beslissing volgt een bevestigingsmail.</p>

<p>Alvast bedankt</p>
