Aanvraag werd geannuleerd
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Uw hebt uw aanvraag: <strong>{{>leave_request_detail leave=leave }}</strong> met succes geannuleerd.</p> 

{{> email/leave_comments comments=comments }}

<p>Alvast bedankt</p>
