Aanvraag wacht op beslissing
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>uw aanvraag: <strong>{{>leave_request_detail leave=leave }}</strong> werd verzonden naar {{#with approver }}{{this.full_name}}{{/with}}.</p>

{{> email/leave_comments comments=comments }}

<p>Na beslissing volgt een bevestigingsmail.</p>

<p>Alvast bedankt</p>
