Intrekken van goedgekeurd verlof
=====
<p>Hallo {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> vraagt om een reeds goedgekeurde aanvraag in te trekken.</p>
<p><strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Ga naar {{> email/link href=(concatenate (get_application_domain) '/requests/') text='Aanvragen' }} om dit goed te keuren of af te wijzen.</p>

<p>Alvast bedankt</p>
