Annuleer aanvraag
=====
<p>Hallo {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} annuleere</strong> aanvraag <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Geen verdere ctie vereist.</p>

<p>Alvast bedankt</p>
