Aanvraag werd geannuleerd
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Uw aanvraag <strong>{{>leave_request_detail leave=leave }}</strong> werd <strong>geannuleerd</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Alvast bedankt</p>
