Registratie afgerond
=====
<p>Hallo <strong>{{user.name}}</strong>,</p>

<p>uw nieuwe account werd aangemaakt op {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Alvast bedankt</p>
