Reset wachtwoord
=====
{{# with user ~}}
<p>Hallo <strong>{{this.name}}</strong>,</p>

<p>Uw wachtwoord voor {{> email/link href=(get_application_domain) text='TimeOff.Management' }} werd aangepast.</p>

{{~/ with }}

<p>Alvast bedankt</p>
