
{{> header }}

<div class="jumbotron">
<h1>TimeOff management</h1>
<p class="lead">Open source Staff Time off management for companies of all sizes.</p>
<p><a class="btn btn-lg btn-success" href="/register/" role="button">Sign up now</a></p>
<p>or fork us on <a href="https://github.com/vpp/vacation-tracker">GitHub</a></p>
</div>

<div class="row marketing">


<div class="col-lg-6">
  <h4>Afdelingen bedrijf</h4>
  <p>Maak afdelingen om werknemers te groeperen. Iedere afdeling heeft een beheerder.</p>

  <h4>Aangepaste aanvragen</h4>
  <p>Feestdagen, ziekte, zwangerschapverlof, vaderschapsverlof, Van thuis uit werken, ... Configureer verder nog of deze van het tegoed gebruiken of niet.</p>

  <h4>Kalender integratie</h4>
  <p>Verzend werknemer gegevens naar externe kalenders: Outlook, Gmail.</p>
</div>

<div class="col-lg-6">
  <h4>Aangepaste feestdagen</h4>
  <p>Bewerk algemene en bedrijfs specifieke feestdagen.</p>

  <h4>Simpele workflow</h4>
  <p>Werknemer vraagt aan, beheerder antwoor met ja of neen</p>

  <h4></h4>
  <p></p>
</div>
</div>

{{> footer }}
