
{{> header }}

<h1>Werknemers importeren</h1>

<div class="row">
  <div class="col-md-6 lead">Snel werknemers importeren</div>
  <div class="col-md-6">
    <a class="btn btn-default pull-right" href="/users/add/" id="add_new_department">Enkele gebruiker toevoegen <i class="fa fa-chevron-right"></i></a>
  </div>

</div>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="/users/">Alle werknemers</a></li>
      <li class="active">Importeer meerdere</li>
    </ol>
  </div>
</div>

<div class="row main-row_header">
  <p class="col-md-12">Uitvoeren in 3 simpele stappen</p>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">

    <form class="form-horizontal" method="POST" action="/users/import-sample/" id="users_import_sample_form">
      <p class="text-bigger">
        <strong>1.</strong> Download voorbeeld <strong>.CSV</strong> op basis van beschikbare werknemers:
        <button
          type  = "submit"
          id    = "users_import_sample_btn"
          class = "btn btn-success"
          data-content   = "Dit voorbeeld bevat gegevens van de huidige werknemers. Breid dit uit met nieuwe gegevens"
          data-placement = "top"
          data-toggle    = "popover"
          data-trigger   = "focus hover"
        ><i class="fa fa-download"></i> Download <strong>.CSV</strong> voorbeeld</button>
      </p>
    </form>

    <p class="text-bigger">
      <strong>2.</strong> Toevoegen gegevens in <strong>.CSV</strong> bestand van nieuwe werknemers.
    </p>

    <p class="text-bigger">
      <strong>3.</strong> Upload <strong>.CSV</strong> bestand:

      <form action="/users/import/" method="post" role="form" enctype="multipart/form-data" class="panel-body">
        <div class="form-group">
          <input id="users_input_inp" type="file" name="users_import">
        </div>
        <div class="form-group">
            <button class="btn btn-success single-click" id="submit_users_btn" type="submit"><i class="fa fa-upload"></i> Importeer werknemers</button>
        </div>
      </form>
    </p>
  </div>
</div>

<div class="row">&nbsp;</div>

{{> footer }}
