
<p>
  Dit jaar heeft {{#with requester}}{{this.full_name}}{{/with}}
  {{~#with requesterAllowance}} {{this.number_of_days_taken_from_allowance}} {{/with~}}
   dagen opgebruikt van het tegoed. Er zijn nog {{#with requesterAllowance}} {{this.number_of_days_available_in_allowance}} dagen over in het tegoed. {{/with}}
</p>
